@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  font-family:monospace ;
}

.uniform-size {
  width: 500px;
  height: 500px;
  object-fit: cover; /* Ensures that the aspect ratio is maintained while covering the entire area */
}